@import "./reset";
@import "./font";
@import "./header";

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  background-image: url(../images/Shape_1.png), url(../images/Shape_2.png);
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
  @media screen and (max-width: 1200px) {
    background-size: 700px, 120px;
  }
  @media screen and (max-width: 768px) {
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  &__body {
    display: flex;
    // align-items: flex-end;
    padding: 10px 65px 30px;
    @media screen and (max-width: 768px) {
      padding: 15px;
    }
    @media screen and (max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    cursor: pointer;
    margin-right: 100px;
    width: 135px;
    height: 105px;
    @media screen and (max-width: 865px) {
      margin-right: 20px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header-content {
  &__top {
    display: flex;
    align-items: center;
    font-family: "MyriadPro-Regular";
    flex-wrap: wrap;
    margin-bottom: 15px;
    @media screen and (max-width: 640px) {
      justify-content: center;
    }
  }
  &__title {
    font-size: 35px;
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    margin-right: 15px;
  }
  &__start {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-radius: 3px;
    border: 1px solid #000;
    cursor: default;
    padding: 3px 10px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -3px -10px;
    margin-bottom: 15px;
  }
  &__item {
    font-size: 17px;
    font-weight: 400;
    cursor: default;
    padding: 3px 10px;
    strong {
      margin-right: 5px;
    }
  }
}

.header-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 520px) {
    justify-content: flex-end;
  }
  &__block {
    position: relative;
    label {
      font-size: 17px;
      font-weight: 400;
      color: #000;
      margin-right: 10px;
    }
    &:nth-child(1) {
      margin-right: 25px;
      @media screen and (max-width: 520px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  &__input {
    width: 185px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    padding: 0 70px 0 10px;
    outline: none;
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: #000;
    }
    &:focus {
      background-color: #f7f7f7;
      transition: background-color 0.3s;
    }
  }
  &__close,
  &__btn {
    width: 30px;
    height: 30px;
    border: 1px solid #bdbdbd;
    background-color: #eeecec;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  &__close {
    border-right: 0;
    background-image: url(../images/icons/close.svg);
    background-size: 12px 12px;
    right: 30px;
  }
  &__btn {
    border-radius: 0 5px 5px 0;
    background-image: url(../images/icons/calendar.svg);
    background-size: 17px 17px;
    right: 0;
  }
}

.content {
  padding-bottom: 75px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__grid {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
  }
}

.grid-change {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
  object {
    cursor: pointer;
  }
}

.grid-change.active {
  svg {
    path {
      fill: #3b8ede;
    }
    rect {
      fill: #3b8ede;
    }
  }
}

.content-item {
  width: 33.3%;
  padding: 15px;
  @media screen and (max-width: 768px) {
    width: 50%;
  }
  @media screen and (max-width: 520px) {
    width: 100%;
  }

  &__wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease all;
    }
    &:hover::before {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }
}
.list {
  .content-item {
    width: 100%;
    padding: 15px;
   
    @media screen and (max-width: 768px) {
    }

    &__wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
      &::before {
        content: none;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 0px 15px -10px rgba(0,0, 0, 75%);
    }
    }
    &__image {
      img {
        width: 95px;
        height: 95px;
      }
    }
    &__body {
      position: relative;
      display: flex;
      width: 100%;
      @media screen and (max-width: 640px) {
          flex-direction: column;
    }
    }
  }
  .card-content {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    color: #000;
    
    @media screen and (max-width: 640px) {
        width: 100%;
    }
    &__item {
      width: auto;
      display: flex;
      align-items: center;
      margin-right: 30px;

      &:first-child {
        width: 100%;
        @media screen and (max-width: 640px) {
            width: auto;
        }
      }
      
      @media screen and (max-width: 520px) {
      }
    }
    &__icon {
      width: 21px;
      height: 21px;
      margin-right: 6px;
      fill: #000;
      svg {
        fill: #000;
        path {
          fill: #000;
        }
      }
    }
    &__footer {
      width: 33.3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #000;
      @media screen and (max-width: 640px) {
        width: 100%;
        flex-direction: initial;
        justify-content: initial;
    }
      
    }
  }
}

.card-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
  color: #fff;
  @media screen and (max-width: 550px) {
    margin-bottom: 8px;
  }
  &__item {
    width: 33%;
    display: flex;
    align-items: center;
    span {
        font-weight: bold;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      justify-content: center;
    }
    @media screen and (max-width: 520px) {
      width: 33%;
      justify-content: initial;
    }
  }
  &__icon {
    width: 21px;
    height: 21px;
    margin-right: 6px;
    display: flex;
    flex-shrink: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    color: #fff;
    span{
        font-weight: bold;
    }
  }
}
.loadmore {
  display: flex;
  justify-content: center;
  &__btn {
    width: 125px;
    height: 30px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    margin-top: 40px;
    transition: .3s ease all;
    &:hover{
        background-color: #dedede;
    }
  }
}
